@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

h1 {
    font-size: 1.5rem;
}

.attribution {
    font-size: .75rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 10px;
}

.box {
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    justify-content: center;
    align-self: center;
    width: auto;
    padding: 20px;
    margin: auto;
    width: 250px;
    margin-top: 10%;
}

img {
    border-radius: 15px;
    max-width: 100%;
    object-fit: contain;
}


.intro {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    text-align: center;
}

.instructions {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    font-size: 1rem;
    text-align: center;
}

